body {
  font-family: 'Lato';
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.post-topic {
  margin: 0 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

$gray-one: #666;
$gray-two: #b3b3b3;
$gray-three: #d8d8d8;
$blue-one: #0079ff;

@import './mixins.scss';
@import './searchBar.scss';
@import './recentPosts.scss';
@import './app.scss';
@import './results.scss';